sidebar { 
    background-color: #020714;
  }
ul{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
 body{
    margin-left: 220px;
 }


ul li {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  filter: grayscale(100);
}

ul li:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  ul li {
    max-width: 40%;
  }
}