<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->

    <!-- End of Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"> </h1>
                    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
                </div>


                <!-- Content Row -->

                <div class="row">
                    <!-- Card Body 1-->
                    <div class="card-body">
                        <h2 class="projetsTitre"></h2><br>

                        <a>

                            <img usemap="#carteTunisie" src="/assets/images/carteTunisie.png"
                                style="margin-left: -104px; margin-top:-80px;">
                            <map name="carteTunisie">
                                <area shape="poly"
                                    coords="360,60,357,68,348,71,338,72,333,79,327,82,323,86,313,108,319,116,327,116,337,113,353,111,361,100,365,94,370,83,377,78,374,65,372,57,319,90"
                                    routerLink="/projets/nabeul" rel="nofollow noreferrer noopener" alt="Nabeul"
                                    title="Tous les projets du gouvernorats de Nabeul" />

                                <area shape="poly"
                                    coords="318,90,316,97,312,106,306,109,304,103,296,100,292,95,301,92,307,91,311,92,307,91"
                                    routerLink="/projets/benarous" rel="nofollow noreferrer noopener" alt="Ben Arous"
                                    title="Tous les projets du gouvernorats de Ben Arous" />

                                <area shape="poly" coords="309,73,298,80,289,80,293,87,298,87,305,84,309,79,314,76"
                                    routerLink="/projets/tunis" rel="nofollow noreferrer noopener" alt="Tunis"
                                    title="Tous les projets du gouvernorats de Tunis" />

                                <area shape="poly" coords="302,58,295,58,293,64,287,74,286,80,295,79,301,78"
                                    routerLink="/projets/ariana" rel="nofollow noreferrer noopener" alt="Ariana"
                                    title="Tous les projets du gouvernorats de Ariana" />

                                <area shape="poly"
                                    coords="290,89,284,95,277,98,270,94,265,86,259,86,251,80,258,76,263,74,270,69,278,69,284,73,288,81"
                                    routerLink="/projets/manouba" rel="nofollow noreferrer noopener" alt="Manouba"
                                    title="Tous les projets du gouvernorats de Manouba " />

                                <area shape="poly"
                                    coords="305,51,298,52,295,59,293,65,287,72,275,70,267,73,257,75,251,78,246,80,241,84,232,87,237,88,233,77,226,74,220,68,219,61,210,61,210,52,216,47,228,46,237,43,247,42,258,37,266,38,272,38,278,44,290,43"
                                    routerLink="/projets/bizerte" rel="nofollow noreferrer noopener" alt="Bizerte"
                                    title="Tous les projets du gouvernorats de Bizerte" />

                                <area shape="poly"
                                    coords="272,98,266,91,260,83,254,85,251,79,243,83,237,86,231,84,233,78,226,73,221,68,219,61,209,59,209,52,198,58,196,63,198,68,196,73,202,74,198,77,195,84,206,87,204,95,209,98,203,110,213,118,225,121,232,113,238,111,244,111,254,115,259,111,264,110,272,103"
                                    routerLink="/projets/beja" rel="nofollow noreferrer noopener" alt="Beja"
                                    title="Tous les projets du gouvernorats de Beja" />

                                <area shape="poly"
                                    coords="195,70,187,70,178,70,172,76,177,82,167,85,155,86,158,94,148,101,132,108,143,113,154,113,156,120,164,116,172,116,178,116,184,116,196,113,205,110,208,102,206,87,194,86,202,78"
                                    routerLink="/projets/jendouba" rel="nofollow noreferrer noopener" alt="Jendouba"
                                    title="Tous les projets du gouvernorats de Jendouba" />

                                <area shape="poly"
                                    coords="196,113,185,114,173,113,164,115,156,117,148,126,150,131,144,135,151,138,145,143,144,150,140,154,142,162,141,168,146,172,149,178,155,176,164,175,168,178,172,170,177,164,184,165,192,170,197,171,204,171,206,162,210,154,217,143,207,137,207,128,199,127,201,118,199,118"
                                    routerLink="/projets/kef" rel="nofollow noreferrer noopener" alt="Kef"
                                    title="Tous les projets du gouvernorats de Kef" />

                                <area shape="poly"
                                    coords="263,112,255,115,242,111,234,114,226,120,217,118,205,110,195,109,203,119,197,125,206,128,206,137,216,143,214,149,208,155,206,164,204,173,201,179,206,179,213,180,221,186,228,189,237,192,242,194,237,183,226,175,238,174,243,170,247,162,243,157,265,141,264,135,263,139,270,132,252,128,263,123,263,139"
                                    routerLink="/projets/siliana" rel="nofollow noreferrer noopener" alt="Siliana"
                                    title="Tous les projets du gouvernorats de Siliana" />

                                <area shape="poly"
                                    coords="253,127,263,121,266,138,262,120,262,112,274,100,283,95,290,95,295,101,307,105,314,110,319,118,317,125,314,130,309,127,307,134,300,135,296,142,290,148,280,147,274,142,265,136"
                                    routerLink="/projets/zaghouan" rel="nofollow noreferrer noopener" alt="Zaghouan"
                                    title="Tous les projets du gouvernorats de Zaghouan" />

                                <area shape="poly"
                                    coords="300,137,306,146,302,158,298,165,308,174,310,181,301,184,305,189,299,197,301,206,303,219,291,227,284,217,274,217,259,214,250,208,242,202,242,192,236,183,227,173,243,171,246,161,242,155,262,137,286,150"
                                    routerLink="/projets/kairouan" rel="nofollow noreferrer noopener" alt="Kairouan"
                                    title="Tous les projets du gouvernorats de Kairouan" />

                                <area shape="poly"
                                    coords="324,119,316,120,315,130,304,132,298,139,305,146,297,166,304,178,313,177,322,180,324,191,328,179,338,173,320,145,339,171,326,136"
                                    routerLink="/projets/sousse" rel="nofollow noreferrer noopener" alt="Sousse"
                                    title="Tous les projets du gouvernorats de Sousse " />

                                <area shape="poly"
                                    coords="354,166,338,167,328,181,327,189,336,188,343,190,350,194,359,187,373,184,374,180,356,174"
                                    routerLink="/projets/monastir" rel="nofollow noreferrer noopener" alt="Monastir"
                                    title="Tous les projets du gouvernorats de Monastir" />

                                <area shape="poly"
                                    coords="322,179,311,180,300,184,308,191,300,195,302,212,306,218,317,220,329,220,333,215,339,209,343,213,359,211,356,219,366,223,375,215,379,209,373,199,373,188,368,184,354,193,346,191,334,191,325,187,327,180"
                                    routerLink="/projets/mahdia" rel="nofollow noreferrer noopener" alt="Mahdia"
                                    title="Tous les projets du gouvernorats de Mahdia" />

                                <area shape="poly" coords="302,58,295,58,293,64,287,74,286,80,295,79,301,78"
                                    routerLink="/projets/ariana" rel="nofollow noreferrer noopener" alt="Ariana"
                                    title="Tous les projets du gouvernorats de Ariana" />

                                <area shape="poly" coords="302,58,295,58,293,64,287,74,286,80,295,79,301,78"
                                    routerLink="/projets/ariana" rel="nofollow noreferrer noopener" alt="Ariana"
                                    title="Tous les projets du gouvernorats de Ariana" />

                                <area shape="poly" coords="302,58,295,58,293,64,287,74,286,80,295,79,301,78"
                                    routerLink="/projets/ariana" rel="nofollow noreferrer noopener" alt="Ariana"
                                    title="Tous les projets du gouvernorats de Ariana" />

                                <area shape="poly" coords="302,58,295,58,293,64,287,74,286,80,295,79,301,78"
                                    routerLink="/projets/ariana" rel="nofollow noreferrer noopener" alt="Ariana"
                                    title="Tous les projets du gouvernorats de Ariana" />

                                <area shape="poly" coords="302,58,295,58,293,64,287,74,286,80,295,79,301,78"
                                    routerLink="/projets/ariana" rel="nofollow noreferrer noopener" alt="Ariana"
                                    title="Tous les projets du gouvernorats de Ariana" />
                            </map>
                        </a>
                        <div class="mt-4 text-center small">
                            <span class="mr-2"> </span>


                        </div>
                    </div>
                    <!-- Pie Chart -->


                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7" style="margin-left: 365px; margin-top: -700px;">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->

                            <!-- Card Body2 -->
                            <div class="card-body"> 
                                    <div class="card-body">
                                        <h2 class="projetsTitre">Liste des Projets <a routerLink="/geolocalisation"><i style="margin-left:20px;color:rgb(0, 52, 112)" class="fas fa-map-marked-alt"></i><script>
                                            function ratestar() {
                                              var a;
                                              a = document.getElementById("div1");
                                              a.innerHTML = "&#xf006;";
                                              setTimeout(function () {
                                                  a.innerHTML = "&#xf123;";
                                                }, 1000);
                                              setTimeout(function () {
                                                  a.innerHTML = "&#xf005;";
                                                }, 2000);
                                            }
                                            ratestar();
                                            setInterval(ratestar, 3000);
                                            </script></a></h2> <br> 
                                        <!-- <button routerLink="/projets/non_elig"
                                            class="bouton btn btn-primary btn-sm my-3">
                                            Projets non éligibles</button>  -->
                                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" >

                                        <div class="input-group">
                                            <input (input)="filter($event.target.value)" type="text"
                                                class="form-control bg-light border-0 small"
                                                placeholder="  Recherche par nom de projet" aria-label="Search"
                                                aria-describedby="basic-addon2" size="55px" style="margin-left: -15px;">
                                            <div class="input-group-append">
                                                <button class="btn btn-success" type="button">
                                                    <i class="fas fa-search fa-sm "></i>
                                                </button>
                                            </div>

                                        </div> 
                                    </form> 
                                    <p style="margin-top: -53px; margin-left: 100px; " >
                                    <button type="button" routerLink="/projects/add" class="bouton btn btn-primary btn-sm my-3" style="padding: 7px 7px;" >
                                            <i class="fa fa-plus"></i> Ajouter </button></p> 
  
                                  <!--   <p style="margin-left: 128px; margin-top:-83px;">
                                         <button type="button" routerLink="/geolosalisation" class="bouton btn btn-primary btn-sm my-3" style="padding: 7px 5px;" >
                                        Geolocalisation </button></p> 
                                      -->
                                             <ul  style="  margin-right:10px; margin-bottom: -30px;" _ngcontent-yjf-c31="" class="nav-tabs nav" ngbnav="" role="tablist">
                                                <li _ngcontent-yjf-c31="" ngbnavitem="" class="nav-item" style=" color: black;"><a  _ngcontent-yjf-c31="" routerLink="/projects/list"
                                                          ngbnavlink="" id="ngb-nav-38"
                                                        class="nav-link active" role="tab" aria-controls="ngb-nav-38-panel"
                                                        aria-selected="true" aria-disabled="false"><i
                                                            class="fas fa-user text-warning"></i><span style="color: black; margin-left:10px">Projets  ({{projectsList.length}})</span></a></li>
            
                                            </ul>
                                        <table class="table table-sm" style="margin-top: 30px; ">
                                            <thead style="background-color: rgb(228, 238, 248); color: black;">
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Nom Projet</th>
                                                    <th>Nb maisons </th>
                                                    <th>Nb quartiers</th>
                                                    <th>Nb habitants</th>
                                                    <th>Voiries qte</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>


                                            <tbody>


                                                <tr *ngFor="let project of projectsList">
                                                    <th>{{project.Id}}</th>
                                                    <th>{{project.Nom}}</th>
                                                    <th>{{project.Nb_maisons}}</th>
                                                    <th>{{project.Nb_quartiers}}</th>
                                                    <th>{{project.Nb_habitants}}</th>
                                                    <th>{{project.Voiries_qte}}</th>
                                                    <th>



                                                        <button routerLink="/fiche/projet"
                                                            class="btn btn-sm btn-consult" style="margin-right:8px; color: rgb(255, 255, 255); background-color: rgb(163, 134, 4);">
                                                            <i class="fas fa-clipboard-list"></i>
                                                        </button>

                                                        <button [routerLink]="['/project/info', project._id]"
                                                            class="btn btn-sm btn-consult" style="margin-right:-6px;">
                                                            <i class="fal fa-eye"></i>
                                                        </button> 

                                                        <button [routerLink]="['/project/update', project._id]"
                                                            class="btn btn-sm btn-warning mx-3"
                                                            style="margin-left:-6px;">
                                                            <i class="fa fa-pen"></i>
                                                        </button>

                                                        <button class="dropdown-item" class="btn btn-sm btn-danger"
                                                            href="#" data-toggle="modal" data-target="#deleteModal"
                                                            style="margin-left:-6px;" (click)="deleteRow(project)">
                                                            <i class="fa fa-trash"></i>
                                                        </button>


                                                    </th>
                                                </tr>



                                            </tbody>
                                        </table>


                                       
                                    </div>

 
                            </div>
                        </div>

                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Sur de vouloir quitter votre session?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"> Sélectionnez «Déconnexion» ci-dessous si vous êtes prêt à quitter votre session
                    en cours.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-primary" routerLink="/signin">Deconnexion</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Sur de vouloir supprimer le projet?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"> Sélectionnez «Supprimer» si vous souhaitez retirer ce projet</div>
                <div class="modal-footer">
                    <button id="closeModalButton" data-toggle="modal" data-target="#deleteModal" class="btn btn-default"
                        data-dismiss="modal">Annuler</button>
                    <!-- <button  class="btn btn-secondary" type="button" data-dismiss="modal" >Annuler</button> -->
                    <a class="btn btn-primary" routerLink="/projects/list" (click)="delete()">
                        Supprimer
                    </a>
                </div>
            </div>
        </div>
    </div>